<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>微嶼 | Isle Villa</title>
    <!-- ===== 載入統一樣式 ===== -->
    <th:block th:replace="~{fragments/fragments :: styles}"></th:block>
</head>
<body>
<!-- //////////////////// 頁面內容放<main>裡 //////////////////// -->
<main>
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <span class="fs-4">商品分類</span>
        </a>
        <hr />
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#home"></use>
                    </svg>
                    <i class="fa-solid fa-mug-saucer"></i>
                    <br/>
                    全部商品
                </a>
            </li>
            <!-- 使用Thymeleaf來動態生成分類列表 -->
            <li th:each="category : ${category}">
                <a href="#" class="nav-link link-dark">
                    <span th:text="${category.productCategoryName}"></span>
                    <!-- 顯示分類名稱 -->
                </a>
            </li>
        </ul>
        <hr />
    </div>
</main>
<!-- //////////////////// 頁面內容放<main>裡 //////////////////// -->
<!-- ========== 載入Footer ========== -->
<div th:replace="~{fragments/fragments :: footer}"></div>
</body>
</html>
