<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>微嶼 | Isle Villa 後台首頁</title>
  <!-- ===== 載入統一樣式 ===== -->
  <th:block th:replace="~{fragments/backFragments :: styles}"></th:block>
</head>
<body>
<!-- ===== 載入sidebar ===== -->
<!-- 插入手機版側邊欄 -->
<div th:replace="~{fragments/backFragments :: mobileSidebar}"></div>
<!-- 插入桌面版側邊欄 -->
<div th:replace="~{fragments/backFragments :: sidebar}"></div>

<main th:replace="~{fragments/backFragments :: mainContent(~{::myContent})}">
  <th:block th:fragment="myContent">
    <!-- //////////////////// 頁面內容放在這個card裡面//////////////////// -->
    <div class="container">
      <h2 class="card-title">優惠專案管理</h2>
      <a class="btn btn-primary" th:href="@{/backend/promotion/add}">新增專案</a>


      <table class="table table-striped">
        <thead>
        <tr>
        <th>#</th>
		<th>優惠專案名稱</th>
		<th>專案開始日期</th>
		<th>專案結束日期</th>
		<th>備註</th>
		<th>操作</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="promotion : ${promotionListData}">
			<tr>
				<td th:text="${promotion.roomPromotionId}"></td>
				<td th:text="${promotion.roomPromotionTitle}"></td>
				<td th:text="${promotion.promotionStartDate != null ? promotion.promotionStartDate.toLocalDate() : ''}"></td>
				<td th:text="${promotion.promotionEndDate != null ? promotion.promotionEndDate.toLocalDate() : ''}"></td>
				<td th:text="${promotion.promotionRemark}"></td>
                <td>
                    <form method="post" th:action="@{/backend/promotion/getOneForUpdate}" style="display: inline-block; margin-bottom: 0px;">
                        <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-pencil-fill me-1"></i>修改</button>
                        <input type="hidden" name="roomPromotionId" th:value="${promotion.roomPromotionId}">
                    </form>
                    <form method="post" th:action="@{/backend/promotion/delete}" style="display: inline-block; margin-bottom: 0px;" onsubmit="return confirm('您確定要刪除這筆優惠專案嗎？');">
                        <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash-fill me-1"></i>刪除</button>
                        <input type="hidden" name="roomPromotionId" th:value="${promotion.roomPromotionId}">
                    </form>
                </td>
			</tr>
		</th:block>
        </tbody>
      </table>
    </div>

    <!-- //////////////////// 頁面內容放在這個card裡面//////////////////// -->
  </th:block>

</main>
</body>
</html>
