.settings/
.mvn/
bin/
out/
*.idea
.DS_Store

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.metadata/
src/main/resources/static/img/home/ignore/
src/main/resources/static/img/news/ignore/news5.png
src/main/resources/static/img/news/ignore/
src/main/resources/secure-config.properties

*.kdenlive