<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>微嶼 | Isle Villa 後台首頁</title>
<!-- ===== 載入統一樣式 ===== -->
<th:block th:replace="~{fragments/backFragments :: styles}"></th:block>
</head>
<body>
	<!-- ===== 載入sidebar ===== -->
	<!-- 插入手機版側邊欄 -->
	<div th:replace="~{fragments/backFragments :: mobileSidebar}"></div>
	<!-- 插入桌面版側邊欄 -->
	<div th:replace="~{fragments/backFragments :: sidebar}"></div>

	<main
		th:replace="~{fragments/backFragments :: mainContent(~{::myContent})}">
		<th:block th:fragment="myContent">
			<!-- //////////////////// 頁面內容放在這個card裡面(外框已經有加card和container，直接放入table和標題即可)//////////////////// -->
			<h1 class="mb-4">⛴️ 接駁船時段列表</h1>

			<div class="d-flex align-items-center mb-3">
				<!-- 新增班次按鈕 -->
				<a class="btn btn-primary" th:href="@{/shuttle/add}"> <i
					class="fa-solid fa-plus text-white me-1"></i>新增時段
				</a>

				<!-- 查詢班次按鈕，緊貼右側一點點 -->
				<a class="btn btn-primary ms-2" href="/shuttle/getshuttle"> <i
					class="fa-solid fa-magnifying-glass me-1"></i>查詢時段
				</a>
			</div>


			<div class="table-responsive">
				<table class="table table-bordered text-center align-middle">
					<thead class="table-secondary">
						<tr>
							<th>時段編號</th>
							<th>方向</th>
							<th>出發時間</th>
							<th>抵達時間</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="shuttle : ${shuttleList}">
							<td th:text="${shuttle.id}">1</td>
							<td th:text="${shuttle.direction == 0 ? '去' : '回'}">去程</td>
							<td th:text="${shuttle.departureTime}">08:00</td>
							<td th:text="${shuttle.arrivalTime}">09:00</td>

							<td><a class="btn btn-sm btn-primary me-1"
								th:href="@{/shuttle/edit/{id}(id=${shuttle.id})}"> <i
									class="fa-solid fa-pen-to-square me-1"></i>編輯
							</a> <a class="btn btn-sm btn-danger"
								th:href="@{/shuttle/delete/{id}(id=${shuttle.id})}"
								onclick="return confirm('確定要刪除嗎？');"> <i
									class="fa-solid fa-trash me-1"></i>刪除
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- //////////////////// 頁面內容放在這個card裡面//////////////////// -->
		</th:block>
	</main>


</body>
</html>
