<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>微嶼 | Isle Villa</title>
    <!-- ===== 載入統一樣式 ===== -->
    <th:block th:replace="~{fragments/fragments :: styles}"></th:block>
</head>
<body>
<!-- ===== 載入Header ===== -->
<div th:replace="~{fragments/fragments :: header}"></div>
<main>
    <div class="container py-5">
        <h2 class="text-center mb-4">會員專區</h2>
        <div class="row">
            <!-- ===== 載入側邊欄 ===== -->
            <div th:replace="~{fragments/fragments :: memberSidebar(activeTab='shuttle')}"></div>
            <!-- 右側內容區 -->
            <div class="col-md-9">
                <!-- //////////////////// 會員頁面內容放這裡 //////////////////// -->
				<div th:if="${shuttleReservationList!=null and !shuttleReservationList.isEmpty()}">
                    <div class="col-12" th:each="shuttleReservation : ${shuttleReservationList}">
                        <div class="card shadow-sm p-3">
                            <h5 class="card-title mb-3">預約編號：<span th:text="${shuttleReservation.shuttleReservationId}"></span>
                            </h5>
                            <ul class="list-group list-group-flush">
                            	<li class="list-group-item">訂房編號：<span
                                        th:text="${shuttleReservation.roomRVOrder.roomReservationId}"></span></li>
                                <li class="list-group-item">接駁日期：<span
                                        th:text="${#temporals.format(shuttleReservation.shuttleDate, 'yyyy-MM-dd')}"></span></li>
                                <li class="list-group-item">接駁班次編號：<span
                                        th:text="${shuttleReservation.shuttleSchedule.shuttleScheduleId}"></span></li>
                                <li class="list-group-item">去/回程：<span th:switch="${shuttleReservation.shuttleDirection}">
                                    <span th:case="'0'">去程</span>
                                    <span th:case="'1'">回程</span>
                                    <span th:case="'*'">未知</span>
                                </span></li>
                                <li class="list-group-item">預約狀態：<span th:switch="${shuttleReservation.shuttleReservationStatus}">
                                    <span th:case="'0'">取消</span>
                                    <span th:case="'1'">正常</span>
                                    <span th:case="'*'">未知</span>
                                </span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div th:unless="${shuttleReservationList!=null and !shuttleReservationList.isEmpty()}">
                    <p>尚無訂單建立</p>
                </div>
                <!-- //////////////////// 會員頁面內容放這裡 //////////////////// -->
            </div>
        </div>
    </div>
</main>
<!-- ========== 載入Footer ========== -->
<footer th:replace="~{fragments/fragments :: footer}"></footer>
</body>
</html>
