<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>微嶼 | Isle Villa</title>
    <!-- ===== 載入統一樣式 ===== -->
    <th:block th:replace="~{fragments/fragments :: styles}"></th:block>
</head>
<body>
<!-- ===== 載入Header ===== -->
<div th:replace="~{fragments/fragments :: header}"></div>
<main>
    <div class="container py-5">
        <h2 class="text-center mb-4">會員專區</h2>
        <div class="row">
            <!-- ===== 載入側邊欄 ===== -->
            <div th:replace="~{fragments/fragments :: memberSidebar(activeTab='room')}"></div>
            <!-- 右側內容區 -->
            <div class="col-md-9">
                <!-- //////////////////// 會員頁面內容放這裡 //////////////////// -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>訂單編號</th>
                            <th>訂購日期</th>
                            <th>入住日期</th>
                            <th>退房日期</th>
                            <th>總金額</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${orderList}">
                            <td th:text="${order.roomReservationId}"></td>
                            <td th:text="${#temporals.format(order.roomOrderDate, 'yyyy-MM-dd')}"></td>
                            <td th:text="${#temporals.format(order.checkInDate, 'yyyy-MM-dd')}"></td>
                            <td th:text="${#temporals.format(order.checkOutDate, 'yyyy-MM-dd')}"></td>
                            <td th:text="${order.roomTotalAmount}"></td>
                        </tr>
                        </tbody>
                    </table>
                <!-- //////////////////// 會員頁面內容放這裡 //////////////////// -->
            </div>
        </div>
    </div>
</main>
<!-- ========== 載入Footer ========== -->
<footer th:replace="~{fragments/fragments :: footer}"></footer>
</body>
</html>
