.category-item {
    text-align: center;
    margin: 10px 0;
}

.category-item button {
    width: 100%;
    padding: 15px 0;
    border-radius: 5px; /* 圓角 */
    border: 2px solid black; /* 邊框 */
    text-align: center;
}


.category-item p {
    font-size: 14px;
    margin-bottom: 0;
    color: black; /* 文字顏色 */
}

.category-item button:hover {
    background-color: lightgrey; /* 滑鼠懸停背景顏色 */
    border-color: dimgrey; /* 滑鼠懸停邊框顏色 */
}

.category-item button:active {
    background-color: grey; /* 按下時背景顏色 */
    border-color: darkgrey; /* 按下時邊框顏色 */
}

.category-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category-col-2 {
    flex: 0 0 auto;
    width: 160px;
}
