<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-Hant">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>微嶼 | Isle Villa | 佳評如潮</title>
    <!-- ===== 載入統一樣式 ===== -->
    <th:block th:replace="~{fragments/fragments :: styles}"></th:block>
</head>
<body>
<!-- ===== 載入Header ===== -->
<div th:replace="~{fragments/fragments :: header}"></div>
<main>
    <div class="container">
        <p>list all feedback (front)</p>
    </div>
</main>
<!-- ========== 載入Footer ========== -->
<div th:replace="~{fragments/fragments :: footer}"></div>
</body>
</html>