<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>後台 | 所有訂單一覽</title>
    <!-- ===== 載入統一樣式 ===== -->
    <th:block th:replace="~{fragments/fragments :: styles}"></th:block>
</head>
<body>
<!-- //////////////////// 頁面內容放<main>裡 //////////////////// -->
<main>
    <div class="d-flex justify-content-center align-items-center">
        <div class="py-5 container">
            <h2 class="section-title text-center mb-5">訂單一覽</h2>
            <table class="table table-striped-columns shadow-sm">
                <thead class="table-primary">
                <tr>
                    <th>訂房編號</th>
                    <th>會員編號</th>
                    <th>訂單日期</th>
                    <th>訂單狀態</th>
                    <th>入住日期</th>
                    <th>退房日期</th>
                    <th>優惠專案編號</th>
                    <th>訂房備註</th>
                    <th>訂房總金額</th>
                    <th>折扣金額</th>
                    <th>實際付款金額</th>
                    <th>明細</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="rv:${roomRVOrderList}">
                    <tr>
                        <td th:text="${rv.roomReservationId}"></td>
                        <td th:text="${rv.members.memberId}"></td>
                        <td th:text="${rv.roomOrderDate}"></td>
                        <td th:switch="${rv.roomOrderStatus}">
                            <span th:case="'0'">成立</span>
                            <span th:case="'1'">付款中</span>
                            <span th:case="'2'">完成</span>
                            <span th:case="'3'">退款</span>
                            <span th:case="'4'">取消</span>
                            <span th:case="*">未知</span> <!-- 預設情況 -->
                        </td>
                        <td th:text="${rv.checkInDate}"></td>
                        <td th:text="${rv.checkOutDate}"></td>
                        <td>
                            <span th:if="${rv.promotion != null}" th:text="${rv.promotion.promotionId}"></span>
                            <span th:unless="${rv.promotion != null}">無</span>
                        </td>
                        <td th:text="${rv.remark}"></td>
                        <td th:text="${rv.roomTotalAmount}"></td>
                        <td th:text="${rv.rvDiscountAmount}"></td>
                        <td th:text="${rv.rvPaidAmount}"></td>
                        <td>
                            <a class="btn btn-dark"
                               th:href="@{'/backend/room/reservation/order/' + ${rv.roomReservationId}}">明細</a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <!-- ========== 載入分頁 ========== -->
            <th:block
                    th:replace="~{fragments/fragments :: paginationFragment(currentPage=${currentPage}, totalPages=${totalPages}, pageURL=${pageURL})}"/>
        </div>
    </div>
</main>
<!-- //////////////////// 頁面內容放<main>裡 //////////////////// -->
</body>
</html>