<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>微嶼 | Isle Villa</title>
    <!-- ===== 載入統一樣式 ===== -->
    <th:block th:replace="~{fragments/fragments :: styles}"></th:block>
</head>
<body>
<!-- //////////////////// 頁面內容放<main>裡 //////////////////// -->
<main>
    <!-- 最新消息 -->
    <section class="py-5 bg-light shadow-sm" id="news">
        <div class="container">
            <h2 class="section-title text-center mb-5">最新消息一覽</h2>
            <!--新增最新消息-->
            <a class="btn btn-dark" th:href="@{/backend/news/add}">新增最新消息</a>
            <table>
                <thead>
                <tr>
                    <th>編號</th>
                    <th>標題</th>
                    <th>內文</th>
                    <th>時間</th>
                    <th>圖片</th>
                    <th>狀態</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="news : ${newsList}">
                    <tr>
                        <td th:text="${news.newsId}"></td>
                        <td th:text="${news.newsTitle}"></td>
                        <td th:text="${news.newsContent}"></td>
                        <td th:text="${news.newsTime}"></td>
                        <td>
                            <img alt="消息圖片"
                                 style="width: 100px; height: auto;"
                                 th:if="${news.newsImage != null}" th:src="@{'/news/image/' + ${news.newsId}}"/>
                            <!-- 沒有圖片時顯示文字 -->
                            <span th:unless="${news.newsImage != null}">無圖片</span>
                        </td>
                        <td th:text="${news.newsStatus == 1 ? '上架' : '下架'}"></td>
                        <td>
                            <a class="btn btn-dark" th:href="@{'/backend/news/edit/' + ${news.newsId}}">修改</a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>

            <!-- 分頁導航 -->
            <th:block
                    th:replace="~{fragments/fragments :: paginationFragment(currentPage=${currentPage}, totalPages=${totalPages}, pageURL=${pageURL})}"/>
        </div>
    </section>
</main>
<!-- //////////////////// 頁面內容放<main>裡 //////////////////// -->
</body>
</html>
